.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 60%;
  margin-bottom: 5%;
}

.logo img {
  width: 100%;
  height: auto;
}

.intro__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  height: 15%;
  position: relative;
}

.intro__form input,
.intro__form button {
  height: 40%;
  font-size: 1.75rem;
}

.intro__form input {
  padding: 1%;
}

.intro__form button {
  border: none;
  background: #93B7BE;
  color: #611C35;
}

.intro__form span {
  position: absolute;
  bottom: -90%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 1.25rem;
  text-align: center;
}



/*-------------------------------------
  Phone/ Tablet Media Queries
--------------------------------------*/
@media screen and (max-width : 360px) {
  .intro__form span{
    bottom: -350%;
    font-size: 1rem;
  }
}
@media screen and (max-width : 660px) {
  .intro__form span{
    bottom: -150%;
    font-size: 1.25rem;
  }
}
@media screen and (max-width : 900px) {
  .logo {
    width: 70%;
    margin-bottom: 5%;
  }

  .intro__form {
    width: 65%;
    height: 15%;
  }
}
