.play {
  margin: 5%;
  position: relative;
}
.main {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  height: 60%;
}
.letters,
.guesses {
  width: 45%;
}

/*--------------------------------------
  word
---------------------------------------*/
.word {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.word ul {
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

.underscore {
  border-bottom: 3px solid #F1FFFA;
  flex: 1 1 auto;
  margin: 1.5%;
}
.word__letter {
  flex: 1 1 auto;
  margin: 0 1.5%;
  text-align: center;
}

/*--------------------------------------
  letters
---------------------------------------*/
.letters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.letters ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.letters li {
  width: 15%;
}

/*--------------------------------------
  guesses
---------------------------------------*/
.guesses {
  color: #FFD23F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guesses p {
  font-size: 2rem;
}

.guesses span {
  font-size: 5rem;
}

/*--------------------------------------
  guess
---------------------------------------*/
.guess {
  display: flex;
  justify-content: center;
}

.guess input,
.guess button {
  font-size: 1.75rem;
  padding: .5%;
  color: #611C35;
}
.guess input {
  text-align: center;
  width: 40%;
}

.guess button {
  border: none;
  background: #93B7BE;
  width: 30%;
}

/*--------------------------------------
  reset
---------------------------------------*/
.play a {
  position: absolute;
  text-decoration: none;
  color: #F1FFFA;
  width: auto;
  text-align: center;
  transform: translate(-50%, -50%);
  left: 50%;
  margin-top: 5%;
}

.play a:hover {
  color: #FFD23F;
}

/*-------------------------------------
  Phone/ Tablet Media Queries
--------------------------------------*/
@media screen and (max-width : 740px) {
  .letters {
    width: 60%;
    font-size: 1.5rem;
  }
  .guesses {
    width: 30%;
  }
}

@media screen and (max-width : 520px) {
  .main {
    flex-direction: column;
    margin-top: 15%;
    height: 50%;
  }
  .letters {
    width: 100%;
    font-size: 1.5rem;
  }
  .guesses {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  .guesses p {
    width: 50%;
  }
  .word {
    margin-top: 15%;
  }
  .word ul {
    font-size: 1.5rem;
  }
}
